div {
  color: white;
}

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.title {
  font-weight: 400;
  font-size: 35px;
}

.overview:hover {
  overflow-y: auto;
}
.overview {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin-top: 10px;
  margin-left: 0px;
  text-align: start;

}

.ratingContainer{
  display: flex;
  align-items: center;
  gap: 5px;
}